flows.json
[
    {
        "id": "7d026a841fe99c98",
        "type": "tab",
        "label": "Assignment 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "98ba4ff506ec3ff1",
        "type": "mqtt in",
        "z": "7d026a841fe99c98",
        "name": "subscriber",
        "topic": "Group1/Living_Room",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "45a0982947e5191c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "3cf0545415d726d1",
                "9c035c5de6097032",
                "0ae25f9efb0ae1d5",
                "32506ea0ed455226",
                "31d06bbbda5007d1",
                "f89b8a8d35065072"
            ]
        ]
    },
    {
        "id": "32506ea0ed455226",
        "type": "ui_text",
        "z": "7d026a841fe99c98",
        "group": "e275dac39aacbefe",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Location",
        "format": "{{msg.payload.Location}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "13e7f9f4b036bcde",
        "type": "mqtt in",
        "z": "7d026a841fe99c98",
        "name": "subscriber",
        "topic": "Group1/Kitchen",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "45a0982947e5191c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 520,
        "y": 100,
        "wires": [
            [
                "c0cbc5cf22e258a6",
                "9b925d2611a0bdcc",
                "e669ead5a61ea7ce",
                "50f2a3d70ea76125"
            ]
        ]
    },
    {
        "id": "b5061b49bce38db8",
        "type": "mqtt in",
        "z": "7d026a841fe99c98",
        "name": "subscriber",
        "topic": "Group1/Bed_Room",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "45a0982947e5191c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 560,
        "y": 460,
        "wires": [
            [
                "c50a3db0efa4131e",
                "4fbe40838cb350cb",
                "8d1b043999fdac96",
                "592ac3fc9637a63d"
            ]
        ]
    },
    {
        "id": "09c83645e144b198",
        "type": "mqtt in",
        "z": "7d026a841fe99c98",
        "name": "subscriber",
        "topic": "Group1/Garage",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "45a0982947e5191c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 460,
        "wires": [
            [
                "5a5e974097b2ed3c",
                "1cc5f7178b42baf1",
                "4a49eb612088e42c",
                "effd449729f6a801"
            ]
        ]
    },
    {
        "id": "3cf0545415d726d1",
        "type": "ui_text",
        "z": "7d026a841fe99c98",
        "group": "e275dac39aacbefe",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload.Temperature}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "9c035c5de6097032",
        "type": "ui_text",
        "z": "7d026a841fe99c98",
        "group": "e275dac39aacbefe",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload.Humidity}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 380,
        "y": 120,
        "wires": []
    },
    {
        "id": "0ae25f9efb0ae1d5",
        "type": "ui_text",
        "z": "7d026a841fe99c98",
        "group": "e275dac39aacbefe",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light",
        "format": "{{msg.payload.Light}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 370,
        "y": 160,
        "wires": []
    },
    {
        "id": "a337f0b624a1263a",
        "type": "mqtt in",
        "z": "7d026a841fe99c98",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "45a0982947e5191c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 150,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c0cbc5cf22e258a6",
        "type": "ui_text",
        "z": "7d026a841fe99c98",
        "group": "a0a635722fba908b",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Location",
        "format": "{{msg.payload.Location}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 720,
        "y": 40,
        "wires": []
    },
    {
        "id": "9b925d2611a0bdcc",
        "type": "ui_text",
        "z": "7d026a841fe99c98",
        "group": "a0a635722fba908b",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload.Temperature}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "e669ead5a61ea7ce",
        "type": "ui_text",
        "z": "7d026a841fe99c98",
        "group": "a0a635722fba908b",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload.Humidity}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "50f2a3d70ea76125",
        "type": "ui_text",
        "z": "7d026a841fe99c98",
        "group": "a0a635722fba908b",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light",
        "format": "{{msg.payload.Light}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "5a5e974097b2ed3c",
        "type": "ui_text",
        "z": "7d026a841fe99c98",
        "group": "44fcd9c43728d686",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Location",
        "format": "{{msg.payload.Location}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 380,
        "y": 400,
        "wires": []
    },
    {
        "id": "1cc5f7178b42baf1",
        "type": "ui_text",
        "z": "7d026a841fe99c98",
        "group": "44fcd9c43728d686",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload.Temperature}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 390,
        "y": 440,
        "wires": []
    },
    {
        "id": "4a49eb612088e42c",
        "type": "ui_text",
        "z": "7d026a841fe99c98",
        "group": "44fcd9c43728d686",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload.Humidity}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 380,
        "y": 480,
        "wires": []
    },
    {
        "id": "effd449729f6a801",
        "type": "ui_text",
        "z": "7d026a841fe99c98",
        "group": "44fcd9c43728d686",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light",
        "format": "{{msg.payload.Light}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 370,
        "y": 520,
        "wires": []
    },
    {
        "id": "c50a3db0efa4131e",
        "type": "ui_text",
        "z": "7d026a841fe99c98",
        "group": "f463369362f5827d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Location",
        "format": "{{msg.payload.Location}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 400,
        "wires": []
    },
    {
        "id": "4fbe40838cb350cb",
        "type": "ui_text",
        "z": "7d026a841fe99c98",
        "group": "f463369362f5827d",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload.Temperature}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "8d1b043999fdac96",
        "type": "ui_text",
        "z": "7d026a841fe99c98",
        "group": "f463369362f5827d",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload.Humidity}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 480,
        "wires": []
    },
    {
        "id": "592ac3fc9637a63d",
        "type": "ui_text",
        "z": "7d026a841fe99c98",
        "group": "f463369362f5827d",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light",
        "format": "{{msg.payload.Light}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 520,
        "wires": []
    },
    {
        "id": "3ecc610ba7c1de69",
        "type": "ui_chart",
        "z": "7d026a841fe99c98",
        "d": true,
        "name": "",
        "group": "6b8d37fe730299c1",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "31d06bbbda5007d1",
        "type": "function",
        "z": "7d026a841fe99c98",
        "name": "function 1",
        "func": "var data = msg.payload;\n\n// Extract data from the JSON object\nvar location = data.Location;\nvar temperature = data.Temperature;\nvar humidity = data.Humidity;\nvar light = data.Light;\n\n// Create a new message with data for the chart\nmsg.payload = [\n    { \"series\": [\"Temperature\"], \"data\": [[temperature]] },\n    { \"series\": [\"Humidity\"], \"data\": [[humidity]] },\n    { \"series\": [\"Light\"], \"data\": [[light]] }\n];\n\n// Set the labels for the X-axis\nmsg.labels = [location];\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 220,
        "wires": [
            [
                "3ecc610ba7c1de69",
                "122ed50374160d94"
            ]
        ]
    },
    {
        "id": "f89b8a8d35065072",
        "type": "debug",
        "z": "7d026a841fe99c98",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 20,
        "wires": []
    },
    {
        "id": "122ed50374160d94",
        "type": "debug",
        "z": "7d026a841fe99c98",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "45a0982947e5191c",
        "type": "mqtt-broker",
        "name": "broker.mqtt.cool",
        "broker": "broker.mqtt.cool:1883",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e275dac39aacbefe",
        "type": "ui_group",
        "name": "Living room",
        "tab": "8b4f2f426840183e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a0a635722fba908b",
        "type": "ui_group",
        "name": "Kitchen",
        "tab": "8b4f2f426840183e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "44fcd9c43728d686",
        "type": "ui_group",
        "name": "Garage",
        "tab": "8b4f2f426840183e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f463369362f5827d",
        "type": "ui_group",
        "name": "Bed room",
        "tab": "8b4f2f426840183e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b8d37fe730299c1",
        "type": "ui_group",
        "name": "Default",
        "tab": "8b4f2f426840183e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b4f2f426840183e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]